
<IfModule mod_expires.c>
    # Enable Expires headers
    ExpiresActive On

    # Set expiration for specific file types
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/avif "access plus 1 year"
    ExpiresByType application/font-ttf "access plus 1 year"
    ExpiresByType application/font-woff "access plus 1 year"
    ExpiresByType application/font-woff2 "access plus 1 year"

    # Default expiration for all other file types
    ExpiresDefault "access plus 1 year"
</IfModule>

<FilesMatch "\.html$">
    AddOutputFilterByType DEFLATE text/html
</FilesMatch>

<FilesMatch "\.html$">
    SetOutputFilter INFLATE;proxy-html;DEFLATE
</FilesMatch>

<FilesMatch "\.css$">
    AddOutputFilterByType DEFLATE text/css
</FilesMatch>

<FilesMatch "\.js$">
    AddOutputFilterByType DEFLATE application/javascript
</FilesMatch>

<FilesMatch "\.(png|jpg|jpeg|gif)$">
    AddOutputFilterByType DEFLATE image/png
    AddOutputFilterByType DEFLATE image/jpeg
    AddOutputFilterByType DEFLATE image/gif
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/javascript
</IfModule>

Options -Indexes
<Files .env>
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_headers.c>
    # Enable HTTP Strict Transport Security
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

    # Prevent Clickjacking
    Header always set X-Frame-Options "DENY"

    # Prevent MIME type sniffing
    Header always set X-Content-Type-Options "nosniff"

    # Control Referrer Policy
    #Header always set Referrer-Policy "strict-origin"

    # Control Permissions Policy
    Header always set Permissions-Policy "geolocation=(self), microphone=(), camera=(), fullscreen=(self), payment=(self)"

    # Cross-Origin-Embedder-Policy
    #Header always set Cross-Origin-Embedder-Policy "require-corp"

    # Cross-Origin-Opener-Policy
    #Header always set Cross-Origin-Opener-Policy "same-origin"

    # Cross-Origin-Resource-Policy
    #Header always set Cross-Origin-Resource-Policy "same-origin"
</IfModule>